<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Algebra API</title>
</head>
<body>
    <div class="container">
        <h1>Algebra API</h1>
        <a href="{% url 'admin:index' %}">Admin site</a><br>
        <a href="{% url 'schema-swagger-ui' %}">Swagger Documentation</a><br>
        <a href="{% url 'schema-redoc' %}">Redoc Documentation</a><br>
        <a href="{% url 'algebra_engine:api-root' %}">API reference</a><br>
    </div>
</body>
</html>
